doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Bootstrap 4 Webpack 3
  body
    //#navbarHeader.collapse.bg-inverse
    //  .container
    //    .row
    //      .col-sm-8.py-4
    //        h4.text-white About
    //        p.text-muted
    //          | Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
    //      .col-sm-4.py-4
    //        h4.text-white Contact
    //        ul.list-unstyled
    //          li
    //            a.text-white(href='#') Follow on Twitter
    //          li
    //            a.text-white(href='#') Like on Facebook
    //          li
    //            a.text-white(href='#') Email me
    //.navbar.navbar-inverse.bg-inverse
    //  .container.d-flex.justify-content-between
    //    a.navbar-brand(href='#') Album
    //    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
    //      span.navbar-toggler-icon
    nav.navbar.bg-inverse
      a.navbar-brand Свадебная съемка
      button.btn(type='submit') Заказать звонок


    section.hero-area.bg-1.text-center.overly
      // Container Start
      .container
        .row
          .col-md-12
            // Header Contetnt
            .content-block
              div
                h1
                  | Получите профессиональное свадебное видео
                  br
                  | по цене 12 000 рублей только в этом месяце
                hr
                p
                  | или 8 часов видео и фото за 22 990 руб.
                  br
                  | При заключении договора до конца месяца скидка до 15%
              section.features-icons.bg-light.text-center
                section.features-icons.bg-light.text-center
                  .container
                    .row
                      .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                          .features-icons-icon.d-flex
                            i.fa.fa-file-video-o.m-auto(aria-hidden='true')
                          p.lead.mb-0
                            | Фото и видео съемка
                            br
                            | в течение целого дня -
                            br
                            | фотограф, оператор,
                            br
                            | ассистент на 15 часов!
                      .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                          .features-icons-icon.d-flex
                            i.fa.fa-check-circle-o.m-auto(aria-hidden='true')
                          p.lead.mb-0
                            | Художественный монтаж
                            br
                            | видео в киноформате,
                            br
                            | ретушь лучших фотографий
                            br
                            | и полная цветокоррекция
                      .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                          .features-icons-icon.d-flex
                            i.fa.fa-hdd-o.m-auto(aria-hidden='true')
                          p.lead.mb-0
                            | Фотографии
                            br
                            | и фильм
                            br
                            | на эксклюзивной
                            br
                            | флеш-карте
                      .col-lg-3
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                          .features-icons-icon.d-flex
                            i.fa.fa-instagram.m-auto(aria-hidden='true')
                          p.lead.mb-0
                            | Видео и фотографии
                            br
                            | для Instagram
                            br
                            | и других
                            br
                            | социальных сетей

            .check-date
              .row
                .col-md-12
                  .block.d-flex
                    h1
                      | Напишите сейчас и узнайте, свободна ли ваша дата
                      i.fa.fa-long-arrow-right(aria-hidden='true')
                    // Search Button
                    button.btn Проверить дату
    section.features-icons.bg-light.text-center.main-page.why-we
      section.features-icons.bg-light.text-center
        .container
          .row
            .col-lg-12
                h1.title Почему мы?
            .col-lg-3
              .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                .features-icons-icon.d-flex
                  i.fa.fa-calendar.m-auto(aria-hidden='true')
                p.lead.mb-0
                  | Более 500 свадеб
                  br
                  | за 6 лет работы
            .col-lg-3
              .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                .features-icons-icon.d-flex
                  i.fa.fa-clock-o.m-auto(aria-hidden='true')
                p.lead.mb-0
                  | Съемочный день до 30%
                  br
                  | длиннее, чем у других
            .col-lg-3
              .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                .features-icons-icon.d-flex
                  i.fa.fa-television.m-auto(aria-hidden='true')
                p.lead.mb-0
                  | Съемка в качестве
                  br
                  | Full HD и 4K
            .col-lg-3
              .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                .features-icons-icon.d-flex
                  i.fa.fa-film.m-auto(aria-hidden='true')
                p.lead.mb-0
                  | Кино
                  br
                  | стандарт монтажа

    section.stock
      .container
        .row
          .offset-md-1.col-md-5
            h1.title
              | Акция
            p
              | Закажите  фотосъемку полного дня (до 15 часов)
              br
              | всего за 17 000 рублей
          .offset-md-1.col-md-4.form
            .form-group
              input.form-control(type='name', placeholder='Введите имя')
            .form-group
              input.form-control(type='email', placeholder='Введите email')
            .form-group
              input.form-control(type='phone', placeholder='Введите номер телефона')
            div
              button.btn(type='submit') Заказать

    .portfolio.text-muted
      .container
        .row.text-center
          .col-sm-12
            h1.title
              | Портфолио

          each val in [1, 2, 3, 4, 5, 6]
            .card.col-sm-4
              img(data-src='holder.js/100px280/thumb', alt='Card image cap')
              p.card-text
                | Видео / фото
                =' ' + val

    .price-table.container
      .row
        .col-md-12.text-center
          h1.title
            | Пакетные предложения
        .snip1404
          .plan
            header
              h4.plan-title
                | Эконом
              .plan-cost
                span.plan-price 12 000 &#8381;
            ul.plan-features
              li
                i.ion-checkmark
                | До 8 часов видео съемки
              li
                i.ion-checkmark
                | Свадебный ролик
              li
                i
                | Или
              li
                i.ion-checkmark
                | До 8 часов фото съемки
              li
                i.ion-checkmark
                | Цветокоррекция фото

            .plan-select
              a(href='') Заказать
          .plan
            header
              h4.plan-title
                | Стандарт
              .plan-cost
                span.plan-price 27 000 &#8381;
            ul.plan-features
              li
                i.ion-checkmark
                | До 15 часов фото и видео съемки
              li
                i.ion-checkmark
                | Свадебный ролик
              li
                i.ion-checkmark
                | Свадебный фильм
              li
                i.ion-checkmark
                | Инстаролик
              li
                i.ion-checkmark
                | Цветокоррекция фото
              li
                i.ion-checkmark
                | Исходники
            .plan-select
              a(href='') Заказать
          .plan.featured
            header
              h4.plan-title
                | Оптима
              .plan-cost
                span.plan-price 47 000 &#8381;
            ul.plan-features
              li
                i.ion-checkmark
                | До 15 часов фото и видео съемки
              li
                i.ion-checkmark
                | Второй видеооператор
              li
                i.ion-checkmark
                | Дополнительная система стабилизации
              li
                i.ion-checkmark
                | Дополнительные объективы и светофильтры
              li
                i.ion-checkmark
                | Свадебный ролик
              li
                i.ion-checkmark
                | Инстаролик
              li
                i.ion-checkmark
                | Цветокоррекция фото
              li
                i.ion-checkmark
                | Флешка
              li
                i.ion-checkmark
                | Исходники
            .plan-select
              a(href='') Заказать
          .plan
            header
              h4.plan-title
                | Премиум
              .plan-cost
                span.plan-price 67 000 &#8381;
            ul.plan-features
              li
                i.ion-checkmark
                | До 15 часов фото и видео съемки
              li
                i.ion-checkmark
                | Второй видеооператор
              li
                i.ion-checkmark
                | Дополнительная система стабилизации
              li
                i.ion-checkmark
                | Запись звука с аппарата ведущего (площадки)
              li
                i.ion-checkmark
                | Скоростная съёмка (Slow motion)
              li
                i.ion-checkmark
                | Профессиональная ретушь 25 фото
              li
                i.ion-checkmark
                | Дополнительные объективы и светофильтры
              li
                i.ion-checkmark
                | Свадебный ролик
              li
                i.ion-checkmark
                | Инстаролик
              li
                i.ion-checkmark
                | Цветокоррекция фото
              li
                i.ion-checkmark
                | Флешка
              li
                i.ion-checkmark
                | Исходники
            .plan-select
              a(href='') Заказать

    section
      .container
        .row
          .col-md-12
            .row
              .col-md-12 картинка
              .col-md-6  картинка
              .col-md-6  картинка
          .col-md-6  картинка
          .col-md-6  картинка

    footer.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            ul.list-inline.mb-2
              li.list-inline-item
                | Свадебная видеосъемка в Ростове-на-Дону
            p.text-muted.small.mb-4.mb-lg-0 © Future Touch Dubai 2018. All Rights Reserved.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='#')
                  i.fa.fa-facebook.fa-2x.fa-fw
              li.list-inline-item.mr-3
                a(href='#')
                  i.fa.fa-twitter.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fa.fa-instagram.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fa.fa-vk.fa-2x.fa-fw

